.new-user-form {
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.new-user-form h1 {
    color: white;
}

.form-name {
    display: flex;
}

.form-location {
    display: flex;
}

.form-job-info {
    display: flex;
}

.form-btn {
    background-color: rgb(42, 171, 226);
    padding: 5px 7px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    border-color: transparent;
    font-size: 18px;
    margin: 10px;
}